@{
    ViewBag.Title = "Регистрация прошла успешно!";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация на сайте прошла успешно!</h2>
<p>
    Теперь Вы можете выполнить @Html.ActionLink("вход на сайт", "Index", "Home")
</p>

